@keyframes move-glow {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) scale(1);
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #121212; /* Match tailwind background */
}

#root {
  width: 100%;
}

.background-glow {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80vw;
  height: 80vh;
  background: radial-gradient(circle, rgba(0, 169, 255, 0.05), rgba(0, 169, 255, 0));
  filter: blur(100px);
  z-index: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  animation: move-glow 30s ease-in-out infinite;
}